<canvas #m4s3c1 style="display: none"></canvas>
<div class="canvasImage">
    <div class="canvasImage__img" [ngStyle]="{backgroundImage: 'url('+ imgUrl +')', width: imgDivWidth + 'px', height: imgDivHeight + 'px'}"></div>
</div>
<div class="channels">
    <div class="channels__grid_cmyk">
        <div class="canvas_gholder">
            <canvas baseChart 
            [datasets]="barChartData1"
            [labels]="barChartLabels1"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColor1">
            </canvas>
        </div>
        <div class="canvas_gholder">
            <canvas baseChart 
            [datasets]="barChartData2"
            [labels]="barChartLabels2"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColor2">
            </canvas>
        </div>
        <div class="canvas_gholder">
            <canvas baseChart 
            [datasets]="barChartData3"
            [labels]="barChartLabels3"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColor3">
            </canvas>
        </div>
        <div class="canvas_gholder">
            <canvas baseChart 
            [datasets]="barChartData4"
            [labels]="barChartLabels4"
            [options]="barChartOptions"
            [plugins]="barChartPlugins"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            [colors]="barChartColor4">
            </canvas>
        </div>
    </div>
</div>
<div class="btns">
    <button class="btn btn_enabled" (click)="lastStep()" style="margin-right: 2px;">Назад</button>
    <button class="btn btn_enabled" (click)="saveImage()">Сохранить</button>
</div>
